*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/example/hammertestapp/feature_menu_screen/data/network/utils/Config.kt
